<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Database connection string-->
    <add key="DBConStr" value="Data Source=W7IN02400017D\SQLEXPRESS;database=IAS_Schneider_Bengaluru;User id=sa; Password=ide123$%^;"/>
    <add key="Type" value="WAREHOUSE"/>
  </appSettings>
</configuration>